@font-face {
  font-family: "PTSans"; 
  src: local("PTSans-Regular"),
    url("./fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans-Bold"; 
  src: local("PTSans-Bold"),
    url("./fonts/PTSans-Bold.ttf") format("truetype");
}

.Bingo {
    align-self: center;
    border-width: 5px;
    border-style: solid;
    border-color: #26160c;
    display: inline-block;
    border-radius: 0;
}

.Row {
    display: flex;
}

.Box {
    height: 12vh;
    width: 10vw;
    background-color: #a6806a;
    border-width: 2px;
    border-color: #26160c;
  border-style: solid;
  border-radius: 0px;
  vertical-align: center;
  align-items: center;
  display: flex;
}

.Free-Seal {
    height: 100%;
}

.Dot {
  height: 100%;
  width: 100%;
  /* margin: 50%; */
  /* background-color: red; */
  background: radial-gradient(circle at center, #8c6456 0, #734a32 100%);
  border-radius: 50%;
  vertical-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
}
/* #8c6456 #734a32, #26160c */

.Selected-Text {
    font-family: PTSans-Bold;
    color: #d9cdbf;
}

.Unselected-Text {
    font-family: PTSans;
}